{% load custom_tags %}
{% load static %}

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light px-2">
        <div class="container-fluid">
            <!-- Logo redirects to general feed if user is authenticated -->
            <a id="logo" 
            {% if user.is_authenticated %} 
            href="{% url 'post-list' %}" 
            {% else %}
            href="{% url 'index' %}" 
            {% endif %}>
            <i class="fa-solid fa-users-between-lines"></i> Titbit</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.is_authenticated %}
            <!-- Feed from following users -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="black" href="{% url 'feed' %}">Following</a>
                    </li>
                    <li class="nav-item black">
                        <div>
                            {% show_notifications %}
                        </div>
                    </li>
                </ul>
                <!-- User settings-->
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle black" data-bs-toggle="dropdown" role="buton"
                        aria-expanded="false"><i class="fas fa-user black"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right dropdown-user ">
                        <li><a class="dropdown-item dropdown-user " href="{% url 'profile' request.user.profile.pk %}">My Profile</a>
                        </li>
                        <li><a class="dropdown-item dropdown-user " href="{% url 'account_logout' %}">Sign Out</a></li>
                    </ul>
                </div>
                <!-- User search -->
                <form class="d-flex" method="GET" action="{% url 'profile-search' %}">
                    <div class="input-group">
                        <span class="input-group-text black" id="basic-addon1">@</span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                            aria-describedby="basic-addon1" name="query" value="{{ request.GET.query }}">
                        <button class="search-btn" type="submit">
                            <i class="fas fa-search ml-4 mr-4"></i>
                        </button>
                    </div>
                </form> 
            </div>
            {% endif %}
        </div>
    </nav>
