/*  ------------------------------------GOOGLE FONT IMPORT */
  @import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Roboto:wght@300&display=swap');


/*  ------------------------------------ROOT VARIABLES */
:root {
    --blue: #D2DFEF;
    --light-blue: #E2E8FD;
    --powder-blue: #B4D1EC;
    --dark-blue: #3B81C0;
    --rose: #E95B95;
    --black: #333;
}


* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--light-blue);
    outline: 1px solid red;
}

/*  -----------------------------------------BODY */
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
    padding-top: 65px;
}

h1 {
    font-family: 'Braah One', sans-serif;
    font-size: 130%;
    color: var(--dark-blue);
}

a {
    text-decoration: none;
}

/*  -----------------------------------------Nav */
#logo {
    color:var(--rose);
    font-size: 160%;
    font-family: 'Braah One', sans-serif;
}

nav ul {
    list-style-type: none;
    color: var(--dark-blue);
}

/*  -----------------------------------------Home */

.card-image {
    object-fit: cover;
    max-height: 300px;
}

.small-btn {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    margin-right: 8px;
}

.small-btn:hover {
    background-color: var(--black);
    color: var(--light-blue);
}

/*  -----------------------------------------Profile */
.card-img-top {
    max-height: 300px;
    object-fit: cover;
}


.profile-pic {
    margin-top: -80px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
}

.edit {
    color: #333;
}

/*  -----------------------------------------Buttons */
.like-button,
.comment-button,
.search-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-left: 4px !important;
    color: #333;
}

/*  -----------------------------------------Post */
.post-img {
    float: left;
    margin-right: 1rem;
}

.post-text {
    padding-top: 0.5rem;
}

.post-image-upload {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px ;
}

/* -----------------------------------------Comment */
.child-comment {
    margin-left: 4rem;
}

/* ----------------------------------------Notifications */
.notification-badge {
    transition: 0.3s;
}

.notification-badge:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 350px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.9rem;
}  

.dropdown-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-item-parent {
    position: relative;
    display: block;
}

.dropdown-item-close {
    position: absolute;
    top: 0;
    right:0;
    font-size: 1.8rem;
    padding-right: 5px;
    transition: 0.3s;
}

.dropdown-item-close:hover {
    color: rgb(180, 25, 25);
    transition: 0.3s;
    cursor: pointer
}