/*  ------------------------------------GOOGLE FONT IMPORT */
  @import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Roboto:wght@300&display=swap');


/*  ------------------------------------ROOT VARIABLES */
:root {
    --blue: #D2DFEF;
    --light-blue: #E2E8FD;
    --powder-blue: #B4D1EC;
    --dark-blue: #3B81C0;
    --aegean-blue: #1F456E;
    --rose: #E95B95;
    --black: #333;
    --white: #f1f1f1;
}


* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: var(--light-blue);
    /* outline: 1px solid red;  */
    box-sizing: border-box;
}

/*  -----------------------------------------BODY */
html, body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    max-width: 2000px;
    min-height: 100vh;
    margin-left: 0 auto;
    scroll-behavior: smooth;
    background-color: var(--light-blue);
}

body {
     padding-top: 65px;
}

h1, h2 {
    font-family: 'Braah One', sans-serif;
    font-size: 150%;
    letter-spacing: 0.125rem;
    color: var(--dark-blue);
}

a {
    text-decoration: none;
}

/*  -----------------------------------------Colors */
.rose {
    color: var(--rose);
}

.black {
    color: var(--black);
}


/*  -----------------------------------------Nav */
#logo {
    color:var(--rose);
    font-size: 200%;
    font-family: 'Braah One', sans-serif;
    line-height: 65px;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
}

/*  -----------------------------------------Home */

.card-image {
    object-fit: cover;
    max-height: 300px;
}

/*  -----------------------------------------Profile */
.card-img-top {
    max-height: 300px;
    object-fit: cover;
}


.profile-pic {
    margin-top: -80px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
}

.edit {
    color: var(--black);
}

/*  -----------------------------------------Buttons */
.small-btn {
    background-color: var(--aegean-blue);
    color: var(--light-blue);
    margin-right: 8px;
}

.small-btn:hover {
    background-color: var(--rose);
    color: var(--aegean-blue);
}

.like-button,
.comment-button,
.search-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-left: 4px !important;
    color: #333;
}

/*  -----------------------------------------Post */
.post-card {
    border: solid 0.4px var(--aegean-blue);
    border-radius: 8px;
    padding: 15px;
}

.post-img {
    float: left;
    margin-right: 1rem;
}

.post-text {
    padding-top: 0.5rem;
}

.post-image-upload {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px ;
}

/* -----------------------------------------Comment */
.comment-card {
    border: solid 0.4px var(--rose);
    border-radius: 8px;
    padding: 15px;
}

.child-comment {
    margin-left: 4rem;
}

.reply-card {
    border: solid 0.4px var(--rose);
    border-radius: 8px;
    padding: 05px;
    background-color: var(--light-blue);
}

/* ----------------------------------------Notifications */
.notification-badge {
    transition: 0.3s;
}

.notification-badge:hover {
    cursor: pointer;
    opacity: 0.75;
    transition: 0.3s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: var(--white);
    min-width: 350px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 0.9rem;
}  

.dropdown-content a {
    color: var(--black);
    background-color: var(--white);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--white);
}

.dropdown-item-parent {
    position: relative;
    display: block;
}

.dropdown-item-close {
    position: absolute;
    top: 0;
    right:0;
    font-size: 1.8rem;
    padding-right: 5px;
    transition: 0.3s;
}

.dropdown-item-close:hover {
    color: rgb(180, 25, 25);
    transition: 0.3s;
    cursor: pointer
}

/*  -----------------------------------------Footer */
footer {
    bottom: 0;
    height: auto;
    width: 100vw;
    padding: 10px;
    margin-top: 15px;
}

.bg-blue {
    color: var(--light-blue);
    background-color:var(--aegean-blue)
}

footer i {
    color:var(--white);
    background-color: var(--dark-blue);
    padding: 5px;
    border-radius: 8px;
}

footer i:hover {
    color:var(--rose);
    background-color: var(--white);
}

#author {
    color: var(--powder-blue);
    padding: 3px;
    background-color: var(--aegean-blue);
}

#author:hover {
    color: var(--rose);
}