{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_title %}- My Feed {% endblock %}

{% block content %}
<div class="container">
    <!-- Post form -->
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <h5>Titbit a little bit!</h5>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Feed from following -->
    {% if following_post_list %}
    {% for post in following_post_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            <!-- Author and date -->
            <div>
                <div>
                    {% if post.author.profile.profile_pic.url %}
                    <img src="{{ post.author.profile.profile_pic.url }}" class="rounded-circle post-img" height="50" width="50"
                        alt="{{ profile.user.username }}">
                    {% else %}
                    <img src="{% static 'titbit/images/user.png' %}" alt="{{profile.user.username}}"
                        class="rounded-circle post-img" height="50" width="50">
                    {% endif %}
                </div>
                <p class="post-text">
                    <a class="text-primary" href="{% url 'profile' post.author.profile.pk %}">@ {{ post.author }}</a>
                    <small class="text-muted"> {{ post.posted_on }}</small>
                    <!-- Author can edit the post -->
                    {% if request.user == post.author %}
                    <a href="{% url 'post-edit' post.pk %}" class="edit">
                        <i class="far fa-edit"></i>
                    </a>
                    {% endif %}
                    <!-- Author or admin can delete the post -->
                    {% if request.user == post.author or request.user.is_superuser %}
                    <a href="{% url 'post-delete' post.pk %}" class="edit">
                        <i class="fas fa-trash"></i>
                    </a>
                    {% endif %}
                </p>
            </div>
            <!-- Content -->
            <div class="position-relative">
                <p>{{ post.content }}</p>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>
            <div class="d-flex flex-row">
                <!-- Like -->
                <form method="POST" action="{% url 'post-like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        {% if request.user in post.likes.all %}
                        <i class="fa-solid fa-thumbs-up"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-up"></i>
                        {% endif %}
                        <span>{{ post.likes.all.count }}</span>
                    </button>
                </form>
                <!-- Dislike -->
                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        {% if request.user in post.dislikes.all %}
                        <i class="fa-solid fa-thumbs-down"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-down"></i>
                        {% endif %}
                        <span>{{ post.dislikes.all.count }}</span>
                    </button>
                </form>
                <!-- Comment -->
                <a class="comment-button" href="{% url 'post-detail' post.pk %}"> 
                    <i class="fa-regular fa-comment"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <h5 class="text-center p-3">Try to follow other users...</h5>
    {% endif %}
</div>
{% endblock content %}