{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_title %}- My Feed {% endblock %}

{% block content %}
<!-- Feed from following -->
<div class="container mb-5">
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12">
            <h1 class="text-center mt-5">Following feed</h1>
        </div>
    </div>

    {% if following_post_list %}
    {% for post in following_post_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-md-8 col-sm-12 position-relative post-card">
            <!-- Author and date -->
            <div>
                {% if post.author.profile.profile_pic.url %}
                <img src="{{ post.author.profile.profile_pic.url }}" class="rounded-circle post-img" height="50"
                    width="50" alt="{{ profile.user.username }}">
                {% else %}
                <img src="{% static 'titbit/images/user.png' %}" alt="{{profile.user.username}}"
                    class="rounded-circle post-img" height="50" width="50">
                {% endif %}
            </div>
            <p class="post-text">
                <a class="text-primary" href="{% url 'profile' post.author.profile.pk %}">@ {{ post.author }}</a>
                <small class="text-muted"> {{ post.posted_on }}</small>
                <!-- Author can edit the post -->
                {% if request.user == post.author %}
                <a href="{% url 'post-edit' post.pk %}" class="edit">
                    <i class="far fa-edit"></i>
                </a>
                {% endif %}
                <!-- Author or admin can delete the post -->
                {% if request.user == post.author or request.user.is_superuser %}
                <a href="{% url 'post-delete' post.pk %}" class="edit">
                    <i class="fas fa-trash"></i>
                </a>
                {% endif %}
            </p>

            <!-- Content -->
            <div class="position-relative">
                <p>{{ post.content }}</p>
                {% if post.image %}
                <img src="{{ post.image.url }}" class="post-image-upload">
                {% endif %}
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>
            <div class="d-flex flex-row">
                <!-- Like -->
                <form method="POST" action="{% url 'post-like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        {% if request.user in post.likes.all %}
                        <i class="fa-solid fa-thumbs-up"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-up"></i>
                        {% endif %}
                        <span>{{ post.likes.all.count }}</span>
                    </button>
                </form>
                <!-- Dislike -->
                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        {% if request.user in post.dislikes.all %}
                        <i class="fa-solid fa-thumbs-down"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-down"></i>
                        {% endif %}
                        <span>{{ post.dislikes.all.count }}</span>
                    </button>
                </form>
                <!-- Comment -->
                <a class="comment-button" href="{% url 'post-detail' post.pk %}">
                    <i class="fa-regular fa-comment"></i></a>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Pagination -->
    <nav aria-label="Post navigation">
        <ul class="pagination justify-content-center mt-5">
            {% if following_post_list.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ following_post_list.previous_page_number }}">Newer
                    Posts</a></li>
            {% else %}
            <li class="page-item d-none">
                <a class="page-link" tabindex="-1" href="#" aria-disabled="true">Newer Posts</a>
            </li>
            {% endif %}
            {% for i in following_post_list.paginator.page_range %}
            <li class="page-item">
                {% if i == following_post_list.number %}
                <a class="page-link  rose" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                {% else %}
                <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
                {% endif %}
            </li>
            {% endfor %}
            {% if following_post_list.has_next %}
            <li class="page-item">
                <a href="?page={{ following_post_list.next_page_number }}" class="page-link">Older Posts</a>
            </li>
            {% else %}
            <li class="page-item d-none">
                <a class="page-link" tabindex="-1" href="#" aria-disabled="true">Older Posts></a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% else %}
    <h5 class="text-center p-3">Try to follow other users...</h5>
    {% endif %}

</div>
{% endblock content %}