{% extends 'home/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">Back to Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <p><strong>{{ post.author }}</strong></p>
            <p>{{ post.content }}</p>
            <small class="text-muted">
                <p>{{ post.posted_on }}
                    {% if request.user == post.author %}
                    <a href="{% url 'post-edit' post.pk %}" class="edit">
                        <i class="far fa-edit"></i>
                    </a>
                    <a href="{% url 'post-delete' post.pk %}" class="edit">
                        <i class="fas fa-trash"></i>
                    </a>
                    {% endif %}
                </p>
            </small>
            <div class="d-flex flex-row">
                <form method="POST" action="{% url 'post-like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        {% if request.user in post.likes.all %}
                        <i class="fa-solid fa-thumbs-up"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-up"></i>
                        {% endif %}
                        <span>{{ post.likes.all.count }}</span>
                    </button>
                </form>
                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        {% if request.user in post.dislikes.all %}
                        <i class="fa-solid fa-thumbs-down"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-down"></i>
                        {% endif %}
                        <span>{{ post.dislikes.all.count }}</span>
                    </button>
                </form>
                <a class="comment-button" href="{% url 'post-detail' post.pk %}">
                    <i class="fa-regular fa-comment"></i></a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <h5>Add a Comment!</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Comment!</button>
                </div>
            </form>
        </div>
    </div>
    {% for comment in comments %}
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <p><strong>{{ comment.author}}</strong></p>
            <p>{{ comment.comment}}</p>
            <small class="text-muted">
                <p>
                    {{ comment.posted_on }}
                    {% if request.user == comment.author %}
                    <a href="{% url 'comment-delete' post.pk comment.pk %}" class="edit">
                        <i class="fas fa-trash"></i>
                    </a>
                    {% endif %}
                </p>
            </small>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}