{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_title %}- Post Detail{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">Back to Feed</a>
        </div>
    </div>
     <!-- Post detail -->
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12 position-relative alert alert-dark" role="alert">
            <!-- Author and date -->
            <div>
                <div>
                    {% if post.author.profile.profile_pic.url %}
                    <img src="{{ post.author.profile.profile_pic.url }}" class="rounded-circle post-img" height="50"
                        width="50" alt="{{ profile.user.username }}">
                    {% else %}
                    <img src="{% static 'titbit/images/user.png' %}" alt="{{profile.user.username}}"
                        class="rounded-circle post-img" height="50" width="50">
                    {% endif %}
                </div>
                <p class="post-text">
                    <a class="text-primary" href="{% url 'profile' post.author.profile.pk %}">@ {{ post.author }}</a>
                    <small class="text-muted"> {{ post.posted_on }}</small>
                    <!-- Author can edit the post -->
                    {% if request.user == post.author %}
                    <a href="{% url 'post-edit' post.pk %}" class="edit">
                        <i class="far fa-edit"></i>
                    </a>
                    {% endif %}
                    <!-- Author or admin can delete the post -->
                    {% if request.user == post.author or request.user.is_superuser %}
                    <a href="{% url 'post-delete' post.pk %}" class="edit">
                        <i class="fas fa-trash"></i>
                    </a>
                    {% endif %}
                </p>
            </div>
            <!-- Content -->
            <div class="position-relative">
                <p>{{ post.content }}</p>
                {% if post.image %}
                <img src="{{ post.image.url }}" class="post-image-upload">
                {% endif %}
            </div>
            <div class="d-flex flex-row">
                <!-- Like -->
                <form method="POST" action="{% url 'post-like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        {% if request.user in post.likes.all %}
                        <i class="fa-solid fa-thumbs-up"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-up"></i>
                        {% endif %}
                        <span> {{ post.likes.all.count }}</span>
                    </button>
                </form>
                <!-- Dislike -->
                <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        {% if request.user in post.dislikes.all %}
                        <i class="fa-solid fa-thumbs-down"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-down"></i>
                        {% endif %}
                        <span> {{ post.dislikes.all.count }}</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12">
            <h5>Add a Comment!</h5>
        </div>
    </div>
    <!-- Add a Comment -->
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-8 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Comment!</button>
                </div>
            </form>
        </div>
    </div>
    <!-- All comments -->
    {% for comment in comments %}
    {% if comment.is_parent %}
    <div class="row justify-content-center mt-1 mb-5">
        <div class="col-md-8 col-sm-12">
            <!-- Author and date from comment-->
            <div>
                <a href="{% url 'profile' comment.author.profile.pk %}">
                    <div>
                        {% if comment.author.profile.profile_pic.url %}
                        <img src="{{ comment.author.profile.profile_pic.url }}" class="rounded-circle post-img"
                            height="50" width="50" alt="{{ profile.user.username }}">
                        {% else %}
                        <img src="{% static 'titbit/images/user.png' %}" alt="{{profile.user.username}}"
                            class="rounded-circle post-img" height="50" width="50">
                        {% endif %}
                    </div>
                </a>
                <p class="post-text">
                    <a class="text-primary" href="{% url 'profile' comment.author.profile.pk %}">@
                        {{ comment.author }}</a>
                    <small class="text-muted"> {{ comment.posted_on }}</small>
                    {% if request.user == comment.author or request.user.is_superuser %}
                    <a href="{% url 'comment-delete' post.pk comment.pk %}" class="edit">
                        <i class="fas fa-trash"></i>
                    </a>
                    {% endif %}
                </p>
            </div>
            <!-- Comment -->
            <p>{{ comment.comment }}</p>
            <div class="d-flex flex-row">
                <!-- Like  Comment-->
                <form method="POST" action="{% url 'comment-like' post.pk  comment.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        {% if request.user in comment.likes.all %}
                        <i class="fa-solid fa-thumbs-up"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-up"></i>
                        {% endif %}
                        <span> {{ comment.likes.all.count }}</span>
                    </button>
                </form>
                <!-- Dislike  Comment-->
                <form method="POST" action="{% url 'comment-dislike' post.pk  comment.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="like-button" type="submit">
                        {% if request.user in comment.dislikes.all %}
                        <i class="fa-solid fa-thumbs-down"></i>
                        {% else %}
                        <i class="fa-regular fa-thumbs-down"></i>
                        {% endif %}
                        <span> {{ comment.dislikes.all.count }}</span>
                    </button>
                </form>
                <!-- Reply a Comment button-->
                <div>
                    <button class="comment-button"><i class="fa-regular fa-comment" onclick="commentReplyToggle('{{ comment.pk }}')"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Reply a Comment -->
    <div class="row justify-content-center mt-3 mb-5 d-none" id="{{ comment.pk }}">
        <div class="col-md-5 col-sm-12">
            <form method="POST" action="{% url 'comment-reply' post.pk comment.pk %}">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Reply!</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Replied comments -->
    {% for child_comment in comment.children %}
    <div class="row justify-content-center  mb-3 child-comment">
        <div class="col-md-5 col-sm-12">
            <!-- Author and date -->
            <div>
                <a href="{% url 'profile' child_comment.author.profile.pk %}">
                    <div>
                        {% if  child_comment.author.profile.profile_pic.url %}
                        <img src="{{  child_comment.author.profile.profile_pic.url }}" class="rounded-circle post-img"
                            height="50" width="50" alt="{{ profile.user.username }}">
                        {% else %}
                        <img src="{% static 'titbit/images/user.png' %}" alt="{{profile.user.username}}"
                            class="rounded-circle post-img" height="50" width="50">
                        {% endif %}
                    </div>
                </a>
                <p class="post-text">
                    <a class="text-primary" href="{% url 'profile' child_comment.author.profile.pk %}">@
                        {{ child_comment.author }}</a>
                    <small class="text-muted"> {{ child_comment.posted_on }}</small>
                    {% if request.user == child_comment.author  or request.user.is_superuser %}
                    <a href="{% url 'comment-delete' post.pk child_comment.pk %}" class="edit">
                        <i class="fas fa-trash"></i>
                    </a>
                    {% endif %}
                </p>
                <p>{{ child_comment.comment }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>

{% endblock content %}