{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <!-- Back to Feed Button -->
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">Back to Feed</a>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <!-- Profile Card -->
        <div class="card shadow-sm">
            <!-- Background -->
            <img class="card-img-top" src="{{ profile.bg_pic.url }}" alt="background image">

            <!-- Profile Picture -->
            <div class="card-body little-profile text-center">
                <div class="pro-img">
                    <img src="{{ profile.profile_pic.url }}"  class="rounded-circle" width="100" height="100"  alt="profile image"/>
                </div>
                <!-- User's data -->
                {% if profile.name %}
                <h3 class="py-4">{{ profile.name }}
                    <span>
                        {% if request.user == user %}
                        <a href="{% url 'profile-edit' profile.pk %}" style="color: #333">
                            <i class="far fa-edit"></i>
                        </a>
                        {% endif %}
                    </span>
                {% else %}
                <h3 class="py-4">{{ user.username }}
                    <span>
                        {% if request.user == user %}
                        <a href="{% url 'profile-edit' profile.pk %}" style="color: #333">
                            <i class="far fa-edit"></i>
                        </a>
                        {% endif %}
                    </span>
                
                {% endif %}
                </h3>

                {% if profile.bio %}
                <p>{{ profile.bio }}</p>
                {% endif %}
                
                <p>
                {% if profile.location %}
                {{ profile.location }} - 
                {% endif %}

                {% if profile.birth_date %}
                {{ profile.birth_date }}
                {% endif %}
                </p>
            </div>
        </div>


        {% for post in posts %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
                <p><strong>{{ post.author }}</strong></p>
                <p>{{ post.content }}</p>
                <small class="text-muted">
                    <p>{{ post.posted_on }}</p>
                </small>
                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock content %}