{% extends 'home/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_title %}- Update your profile {% endblock %}

{% block content %}
<div class="container mb-5">
    <div class="row mt-5">
        <div class="col-md-8 col-sm-6">
            <a href="{% url 'profile' object.pk %}" class="btn small-btn">Back to Profile</a>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 text-center">
            <h1>Update your profile!</h1>
        </div>
    </div>

    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-8 col-sm-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn small-btn mt-3">Submit!</button>
                </div>
            </form>
            <h5 class="mt-5 text-center">If you want to change your password, then please
                <a href="{% url 'account_change_password' %}">click hier</a>.</h5>
        </div>
    </div> 
</div>
{% endblock content %}