{% extends 'home/base.html' %}
{% load static %}

{% block extra_title %}Users{% endblock %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-6">
            <!-- Users List -->
            <h1 class="text-center">All Users:</h1>
        </div>
    </div>

    {% for profile in profiles %}
    <div class="row justify-content-center mt-3">
        <div class="col col-md-4 col-sm-12 position-relative post-card">
            <div>
                <a href="{% url 'profile' profile.pk %}">
                    {% if profile.profile_pic.url %}
                    <img src="{{ profile.profile_pic.url }}" class="rounded-circle post-img" height="50" width="50"
                        alt="{{ profile.user.username }}">
                    {% else %}
                    <img src="{% static 'titbit/images/user.png' %}" alt="{{profile.user.username}}"
                        class="rounded-circle post-img" height="50" width="50">
                    {% endif %}
                </a>
                <p class="post-text">
                    <a class="text-primary" href="{% url 'profile' profile.pk %}">@ {{ profile.user }}</a>
                        {% if profile.name %}
                        - {{ profile.name }} 
                        {% endif %}
                    
                </p>
            </div>
            <p>
                {% if profile.location %}
                {{ profile.location }} -
                {% endif %}
                {{ profile.followers.all.count }} followers
            </p>
        </div>
    </div>
    {% endfor %}
    <!-- Pagination -->
    <nav aria-label="Post navigation">
        <ul class="pagination justify-content-center mt-5">
            {% if profiles.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ profiles.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span></a></li>
            {% else %}
            <li class="page-item d-none">
                <a class="page-link" tabindex="-1" href="#" aria-disabled="true"><span
                        aria-hidden="true">&laquo;</span></a>
            </li>
            {% endif %}
            {% for i in profiles.paginator.page_range %}
            <li class="page-item">
                {% if i == profiles.number %}
                <a class="page-link  rose"
                    href="?query={{ request.GET.query }}&page={{ forloop.counter }}">{{ forloop.counter }}</a>
                {% else %}
                <a class="page-link"
                    href="?query={{ request.GET.query }}&page={{ forloop.counter }}">{{ forloop.counter }}</a>
                {% endif %}
            </li>
            {% endfor %}
            {% if profiles.has_next %}
            <li class="page-item">
                <a href="?page={{ profiles.next_page_number }}" class="page-link"><span
                        aria-hidden="true">&raquo;</span></a>
            </li>
            {% else %}
            <li class="page-item d-none">
                <a class="page-link" tabindex="-1" href="#" aria-disabled="true"><span
                        aria-hidden="true">&raquo;</span></a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock content %}