{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="container mb-5">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn small-btn">Back To Feed</a>
        </div>
    </div>
    <!-- Result from Users search -->
    <h1 class="text-center mt-5">Users found:</h1>
    {% if profile_list %}
    {% for profile in profile_list %}
    <div class="row justify-content-center mt-3">
        <div class="col col-md-4 col-sm-12 position-relative post-card">
            <div>
                <a href="{% url 'profile' profile.pk %}">
                    {% if profile.profile_pic.url %}
                    <img src="{{ profile.profile_pic.url }}" class="rounded-circle post-img" height="50" width="50"
                        alt="{{ profile.user.username }}">
                    {% else %}
                    <img src="{% static 'titbit/images/user.png' %}" alt="{{profile.user.username}}"
                        class="rounded-circle post-img" height="50" width="50">
                    {% endif %}
                </a>
                <p class="post-text">
                    <a class="text-primary" href="{% url 'profile' profile.pk %}">@ {{ profile.user }}</a>
                </p>
            </div>
            <p>
                {% if profile.location %}
                {{ profile.location }} -
                {% endif %}
                {{ profile.followers.all.count }} followers
            </p>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="text-center">Sorry, no User was found... Try with another letter!</p>
    {% endif %}
</div>
{% endblock content %}