* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    color: #333;
}

nav ul {
    list-style-type: none;
    color: #333;
}


/* Profile */
.card-img-top {
    max-height: 300px;
    object-fit: cover;
}


.profile-pic {
    margin-top: -80px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
}

.edit {
    color: #333;
}

/* Buttons */
.like-button,
.comment-button,
.search-btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-left: 4px !important;
    color: #333;
}

/* Post */
.post-img {
    float: left;
    margin-right: 1rem;
}

.post-text {
    padding-top: 0.5rem;
}